body {
    width: 100vw;
    background: url(/public/pictures/Frame_4.jpg) no-repeat;
    color: #0A0F20;
    overflow: hidden;
    position: relative;
  }

#root {
  height: 100vh;
  position: absolute;
  overflow-y: auto;
  width: 100vw;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card-btn {
  background-color: #0A0F20;
}

.HockeyCards { 
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: baseline;
  margin: auto;
  max-width: 1600px;
}

.searchBar {
  margin: 10% auto 5% auto;
  color: #0A0F20!important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-btn {
  background-color: #151D38!important;
  flex : 1;
  padding: 10px 60px!important;
  white-space: nowrap;
  width: 14vw;
}

.customs-cards-content {
  background-color: #0A0F20;
}

.customs-cards-teamName {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.customs-cards-cityName {
  color: #dedede;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 3%;
}

.card-image {
  background-color: #455075;
}

.customs-cards-media {
  /* transform: transform 0.3s ease-in-out;  */
  background-size: 200px!important;
  -moz-transform: scale(1); 
  -webkit-transform: scale(1); 
  transform: scale(1); 
  transition:0.7s ease all; 
  -webkit-transition:0.7s ease all; 
  -moz-transition:0.7s ease all;
}

.link-cards {
  display: flex;
  flex: 1;
  text-decoration: none;
}


.customs-cards-images:hover {
  -moz-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2);
}

.customs-cards {
  box-shadow: 0 12px 24px -8px #0B0F1E 50%;
}

.customs-cards:hover {
  margin: 2rem auto;
  padding: 3px;
  background-repeat: no-repeat;
  background-image:   linear-gradient(to right, #0A0F20 100%, #0A0F20 100%),
                      linear-gradient(to bottom, #0A0F20 100%, #0A0F20 100%),
                      linear-gradient(to right, #0A0F20 100%, #0A0F20 100%),
                      linear-gradient(to bottom, #0A0F20 100%, #0A0F20 100%);
  background-size:    100% 3px,
                      3px 100%,
                      100% 3px,
                      3px 100%;
  background-position:    0 0,
                          100% 0,
                          100% 100%,
                          0 100%;
  animation: bg 0.7S forwards;
}
                        
.customs-cards:not(:hover) {
  margin: 2rem auto;
  padding: 3px;
  background-repeat: no-repeat;
  background-image:   linear-gradient(to right, #0A0F20 100%, #0A0F20 100%),
                      linear-gradient(to bottom, #0A0F20 100%, #0A0F20 100%),
                      linear-gradient(to right, #0A0F20 100%, #0A0F20 100%),
                      linear-gradient(to bottom, #0A0F20 100%, #0A0F20 100%);
  background-size:    100% 3px,
                      3px 100%,
                      100% 3px,
                      3px 100%;
  background-position:    0 0,
                          100% 0,
                          100% 100%,
                          0 100%;
  animation: reverse-bg 0.7s forwards;
}

@keyframes bg {
  0% {
    background-size: 0 3px,
                    3px 0,
                    0 3px,
                    3px 0;
  }
  25% {
    background-size: 100% 3px,
                    3px 0,
                    0 3px,
                    3px 0;
  }
  50% {
    background-size: 100% 3px,
                    3px 100%,
                    0 3px,
                    3px 0;
  }
  75% {
    background-size: 100% 3px,
                    3px 100%,
                    100% 3px,
                    3px 0;
  }
  100% {
    background-size: 100% 3px,
                    3px 100%,
                    100% 3px,
                    3px 100%;
  }
}

@keyframes reverse-bg {
  0% {
    background-size: 100% 3px,
                    3px 100%,
                    100% 3px,
                    3px 100%;
  }
  25% {
    background-size: 100% 3px,
                    3px 100%,
                    100% 3px,
                    3px 0;
  }
  50% {
    background-size: 100% 3px,
                    3px 100%,
                    0 3px,
                    3px 0;
  }
  75% {
    background-size: 100% 3px,
                    3px 0,
                    0 3px,
                    3px 0;
  }
  100% {
    background-size: 0 3px,
                    3px 0,
                    0 3px,
                    3px 0;
  }
}